@media (max-width:1012px) {
    body{
        overflow-x: hidden;
    }
   header{
    nav{
        .navBar{
            ul{
                .navList{
                    display:none
                }
            }
        }
    }
   }

   .banner{
    padding: 160px 0 200px;
    .berryCont{
        display: none;
    }
    .leafCont{
        max-width: 300px;
        img{
            width: 100%;
        }
    }
    .bannerContent{
        flex-wrap: wrap;
        .bannerText{
            width: 100%;
            flex-basis: 100%;
            margin-bottom: 40px;
            // border: 1px solid maroon;
            
        }
        .bannerImgCont{
            flex-basis: 90%;
            height: 400px;
            margin: auto;
        }
    }
   }

   .brand__section{
    .brand__title{
        max-width: fit-content;
        margin: auto;
    }
   }

   .menu__section{
    .menu__filters{
        // max-width: 100%;
        .menu__ul{
            white-space: nowrap;
            overflow: hidden;
            overflow-x: auto;
            max-width: 100%;
            margin: auto;
        }
        .menu__ul::-webkit-scrollbar {
            display: none;
        }
    }
    .dish-title .h3-title {
        display: block;
        min-height: auto;
        margin-bottom: 12px;
    }
    #parent {
        justify-content: space-between;
        .menu__card {
            flex-basis: 34%;
    
        }
    }
}

.bookTableCarousel{
    #hcg-slider-1 .hcg-slide-container{
        width: 90%;
    }
    .hcg-slides{
        height: auto;
    }
}

    
}


@media (max-width: 767px){
    .menu__section{
        #parent {
            // flex-wrap: nowrap;
            // flex-direction: column;
            justify-content: center;
            .menu__card {
                flex-basis: 50%;
        
            }
        }
    }

    .bookTable{
        .book__info{
            .book__details{
                flex-wrap: wrap;
                .book__timing{
                    flex-basis: 100%;
                }
                .book__contact{
                    flex-basis: 100%;
                    margin: 30px 0;
                    .book__contact2{
                        border: none;
                        border-top: 3px dotted rgba(13, 13, 37, 0.5);
                        border-bottom: 3px dotted rgba(13, 13, 37, 0.5);
                    }
                }
            }
        }
   }

   .ourTeam{
    .team-img {
        height: 430px;
    }
    
    .team-slider{
        padding-left: 30px;
    }
   }

   .feedback_section{
        .feedback_content{
            padding: 0 20px;
            .imgCont{
                flex-basis: 60%;
                margin: auto;
            }
        }
        .feedback_detail{
            flex-basis: 100%;
       }
   }
   
   
    
}



@media (max-width:576px) {
   header{
    nav{
        .navBar{
            // border: 1px solid teal;
            height: 50px;
            .logo_div{
                max-width: 24%;
                img{
                    width: 100%;
                }
            }
            ul{
                .navHide{
                    display:none
                }
                .menuToggle{
                    display: block;

                    ul{
                        // border: 1px solid teal;
                        // display: none;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100vh;
                        // box-shadow:  0 0 10px 100000px rgba(0, 0, 0, 0.521);
                        background-color: #f3f3f5;
                        // transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                        transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                        overflow-y: auto;
                        transform: translateY(-100%);
                        padding-top: max(9vh, 30px);
                        padding-left: max(6vh, 30px);
                        background-image: url(/images/blog-pattern-bg.png);
                        background-position: center;
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        .menuList{
                            // margin:10px auto;
                            display: inline-block;
                            // text-align: center;
                            // border: 1px solid salmon;
                            a{
                                display: inline-block;
                                
                                // padding: 5px;
                                // border: 1px solid salmon;
                                margin-bottom: 10px;
                                font-family: 'Poppins', sans-serif;
                                transition: all 0.5s;
                                transform:translateX();
                                &:hover{
                                    // @include boxshadow();
                                    border-radius: 30px;
                                    box-shadow: inset 8px 8px 12px #e2e2e2, inset -8px -8px 12px #ffffff;
                                    color: $orange;
                                }
                            }
                        }
                        .exitMenu{
                            // border: 1px solid maroon;
                            display: inline-block;
                            font-size: 2.2rem;
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            padding: 5px;
                            color: $orange;
                            
                        }
                    }
                }
                .toggled{
                    ul{
                        transform: translateY(0);
                    }
                }
            }
            
        }
    }
   }

   .banner{
    .berryCont{
        display: none;
    }
    .leafCont{
        display: none;
    }
    .leafCont{
        max-width: 270px;
    }
    .berryCont{
        max-width: 125px;
        top: 60px;
    }
    
    .bannerContent{
        .bannerText{
            h1{
                font-size: 40px;
                line-height: 60px;
            }
        }
        .bannerImgCont{
            flex-basis: 80%;
            // width: 90%;
            padding: 0;
            margin: auto;
            height: 300px;
            .imgCont{
                padding: 0;
            }
        }
    }
   }

   .brand__section{
        margin-bottom: 60px;
   }

   .menu__section{
    .dist-img img {
        width: 180px;
    }
    .dist-img {
        margin-top: -80px;
    }
    .dish-box {
        margin: 80px 0 30px;
    }
    .dish-info ul li p {
        font-size: 16px;
        line-height: 26px;
        margin: 0;
    }
    .dish-info ul li b {
        font-size: 14px;
    }
    .dish-box {
        max-width: 340px;
        margin: 80px auto 30px;
        padding: 0 0 30px;
    }
    #parent .menu__card {
        flex-basis: 100%;
    }
   }

   .foodType_section{
    .section_container{
        padding: 50px 0;
    }
        .container{
            flex-wrap: wrap;
            .content_cont{
                flex-basis: 100%;
                padding: 10px;
                h2{
                    overflow: hidden;
                    font-size: 34px;
                line-height: 50px;
                }
            }
            .img_cont{
                flex-basis: 100%;

            }
        }
        .cont1{
            margin-bottom: 50px;
        }
   }

   .ourTeam{
    .team-img {
        height: 330px;
        }
    
        .swiper-button-wp{
            height: 200px;
            display: none;
        }
        .team-slider{
            padding-bottom: 100px;
        }
   }

   .feedback_section{
        padding-bottom: 0;
    .testimonial-box-top{
        justify-content: space-between;
        // max-width: fit-content;
    }
    .testimonials-box{
        max-width: 100%;
    }
   }
  
   
}

@media ( max-width:400px){
    .ourTeam{
        .team-box .h3-title {
            min-height: 72px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            
        }
        .team-img {
            height: 280px;
        }
    }
    
    
}