@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
$orange : #fe8d41;
$font_black: #0e0c24;
$yellow : #ffbc26;
$bg_color : #f3f3f5;
$poppins : 'Poppins', sans-serif;
$playfair : 'Playfair Display', serif;

// font-family: 'Poppins', sans-serif;
// font-family: 'Playfair Display', serif;